
<ul class="nav__list nav__list--workspace">
     <li class="nav__item nav__item--workspace nav__item--lang js-workspace-nav__item" id="nav--workspace__welsh"></li>

     <li class="nav__item nav__item--workspace nav__item--browse js-workspace-nav__item selected" id="browse">
         <a class="nav__link" href="javascript:void(0)">Browse</a>
     </li>
     <li class="nav__item nav__item--workspace nav__item--create js-workspace-nav__item" id="create">
         <a class="nav__link" href="javascript:void(0)">Create</a>
     </li>
     <li class="nav__item nav__item--workspace nav__item--edit js-workspace-nav__item" id="edit">
         <a class="nav__link" href="javascript:void(0)">Edit</a>
     </li>
     <li class="nav__item nav__item--workspace nav__item--import nav--workspace__import js-workspace-nav__item" id="import">
         <a class="nav__link" href="javascript:void(0)">Import</a>
     </li>
 </ul>