<nav class="panel col col--1 nav nav--workspace js-workspace-nav" id="workspace-navigation">
</nav>
<div class="panel col col--4 workspace-menu" id="workspace-browse">
    <!--<div class="margin-top--3">{{> ../shared/templatePartials/loadingAnimation large=true dark=true}}</div>-->
</div>
<section class="panel col col--7 workspace-browser" id="workspace-preview">
    <!--<div class="margin-top--3">{{> ../shared/templatePartials/loadingAnimation large=true dark=true}}</div>-->
</section>
