<div class="browser">
    <div class="addressbar">
        <label for="browser-location" class="browser-location-label">Preview URL</label>
        <input id="browser-location" class="browser-location" type="text" value="{{this}}">
        <div class="browser-location__select select-wrap select-wrap--browser" id='select-vis-wrapper'>
            {{!-- <label for="select-vis-preview">Preview HTML file</label> --}}
            <select id='select-vis-preview'></select>
        </div>
    </div>
    <iframe id="iframe" src="{{this}}">
    </iframe>
</div>